---
layout: archive
---

{{ content }}
  <body>
    <h1>Jingu Hwang</h1>
    <strong>Welcome to my homepage</strong>
    <p>I am Jingu Hwang(황진구; 黃進九), graduate student in <a href="https://mathsci.kaist.ac.kr/" target="_blank" rel="norefferer noopener nofollow">Department of Mathematical Science in KAIST</a>.</p>
    <p>My research advisor is <a href="https://sites.google.com/view/ksnam" target="_blank" rel="norefferer noopener nofollow">Kyeongsik Nam</a>.</p>

    <p>My research interest is probability theory, especially in</p>
    <ul>
    	<li>Gaussian $\beta$-ensembles</li>
      <li>statistical dynamics</li> 
      <li>random matrix theory</li>   	
    	<li>to be added...</li>
    </ul>

    <p>E-mail address: <tt>jirak22[at]kaist[dot]ac[dot]kr</tt></p>
  </body>


